* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    height: 100vh;
    background-color: white;
}

.sidebar {
    width: 25%;
    background-color: #8B0000;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sidebar h2 {
    font-size: 65px;
    margin-bottom: 30px;
    font-family: "Outfit-Black", Helvetica;
    font-weight: 900;
}
.sidebar .step {
    margin: 50px ;
    opacity: 0.6;
}
.sidebar .step-active {
    opacity: 1;
    margin: 50px;
}
.container {
    background: white;
    padding: 20px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.terms-box {
    height: 500px;
    overflow-y: scroll;
    border: 2px solid #ccc;
    padding: 30px;
    margin-bottom: 50px;
    background: #fff;
    font-size: 20px;
    font-family: "Outfit-Regular", Helvetica;
}
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
button {
    padding: 10px 15px;
    border: none;
    background-color: #c00;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
button:disabled {
    background-color: #ccc;
}
.container .heading-2 {
    font-size: 50px;
    font-family: "Outfit-Black", Helvetica;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}
.agree-box {
    text-align: right;
    font-size: 20px;
}
