body {
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #f4f4f4;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.left{
    width: 50%;
    background: #7f0d0d;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left span{
    font-weight: bold;
}

.left h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.left p{
    font-size: 18px;
    margin-bottom: 20px;
}

.left button{
    background: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.right{
    flex: 1;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right h2{
    font-size: 24px;
    margin-bottom: 20px;
}

.right input{
    width: 80%;
    padding: 15px;
    margin-bottom: 18px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.right button {
    background: #e74c3c;
    color: white;
    border: none;
    padding: 20px;
    width: 40%;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.dashboard-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #7f0d0d;
    padding: 15px 20px;
    width: 100%;
    color: white;
    box-sizing: border-box;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
}

.logo span {
    font-weight: bold;
}

.search-bar input {
    padding: 5px 10px;
    font-size: 16px;
    width: 300px;
    height: 40px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

nav {
    display: flex;
    padding: 10px;
    background: #7f0d0d;
    box-sizing: border-box;
}

.nav-btn {
    flex: 1;
    padding: 10px;
    border: none;
    cursor: pointer;
    background: white;
    font-size: 18px;
    text-align: center;
}

.nav-btn-active {
    background: #7f0d0d;
    color: white;
    font-weight: bold;
    flex: 1;
    padding: 10px;
    border: none;
    font-size: 18px;
    text-align: center;
}

main {
    margin: 20px;
    flex: 1;
    overflow: auto;
    width: 100%;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

thead {
    background: #ddd;
}

th {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;

}

td {
    background-color: #f2f2f2;
    text-align: center;
}
