* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    height: 100vh;
    background-color: #333;
}

.sidebar {
    width: 25%;
    background-color: #8B0000;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sidebar h2 {
    font-size: 65px;
    margin-bottom: 30px;
    font-family: "Outfit-Black", Helvetica;
    font-weight: 900;
}
.sidebar .step {
    margin: 50px ;
    opacity: 0.6;
}
.sidebar .step-active {
    opacity: 1;
    margin: 50px;
}

.form-container {
    width: 75%;
    background: white;
    padding: 30px;
    color: white;
}
.membership-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.membership-card {
    background: #8B0000;
    padding: 70px;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
}
.membership-card input {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.back-btn {
    background: #8B0000;
    color: white;
    border: 1px solid white;
}
.next-btn {
    background: #8B0000;
    color: white;
}
.membership-card, ul {
    font-size: 17px;
}
