body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    font-family: "Outfit-Black", Helvetica;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('registration.png') no-repeat center center/cover;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 900px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    overflow: hidden;
}

.welcome-section, .login-section {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.welcome-section h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: 1000;
    font-family: "Outfit-Black", Helvetica;
}

.welcome-section h1 span {
    color: #4A90E2;
}

.welcome-section p {
    margin-top: 5px;
    font-size: 1.2rem;
    text-align: center;
}

.login-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
}

.login-section form {
    display: flex;
    flex-direction: column;
}

.login-section input {
    padding: 10px;
    margin-bottom: 15px;
    border: solid;
    border-color: #357ABD;
    border-radius: 5px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.6);;
    color: white;
    width: 250px;
    margin-left: 50px;
    
}

.login-section button {
    padding: 7px;
    background-color: #4A90E2;
    border: none;
    border-radius: 40px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100px;
    margin-left: 140px;
}

.login-section button:hover {
    background-color: #357ABD;
}
